<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.nachtgeistw.impurebird"
        tools:ignore="ExtraText">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_cat_butt"
            android:label="Little Pussy"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:targetApi="m">
        <!-- use configChanges to prevent activity restart when orientation changes -->
        <activity
                android:name=".SplashActivity"
                android:theme="@style/AppTheme.Start">
            <intent-filter>
                <action
                        android:name="android.intent.action.MAIN"
                        android:configChanges="orientation|screenSize" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".LoginActivity"
                android:configChanges="orientation|screenSize">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".BirdMainInterface"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_bird_main_interface"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".UserHomeActivity"
                android:configChanges="orientation|screenSize" />

        <activity
                android:name=".DetailPageActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_tweet_detail" />

        <activity
                android:name=".SendTweetActivity"
                android:configChanges="orientation|screenSize"
                android:label="@string/title_activity_send_tweet">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".PicActivity" />
        <activity android:name=".Util.BaseAppCompatActivity" />

    </application>

</manifest>